header {
    background-image:linear-gradient(to top, #F8B3E0, #DE61C3);
    margin: 0;
    padding: 0;
    display:block ;
    justify-content: space-around;
    padding: 24px;
    color: #F6D5EB;
    
}
body{
    background-color: #f614a74e;
}


.titulo1{
    font-size: 50px;
    text-align: center;
    color: #34092D;
    font-style: italic;
}

.titulo2{
    font-size: 80px;
    text-align: center;
    color: #DE61C3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #051102;
    font-style: italic;
    font-family: sans-serif;
    
 }
   
.escola {
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 1600px;;
    background-color:#ec6ac1;
    height: 300px;
    
}
.escola-imagem{
    margin-left: 450px ;
    margin-bottom: 1400px;
    margin-top: 1400px;
    
    
}

.estudante {
    padding: 24px;
}

.estudante-div{
    text-align: center;
    padding:26px 0;
    font-size: 40px;
;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
/*/ background-color:#46alcf;/*/
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20%  20% 20% 20% 20%
    
}
.nossa-escola{
    font-size: 50px;
    text-align:center;
    margin-left: 850px;
    
}
