header {
    background-color: #d338d3;
    color: rgb(255, 114, 248);
}

.titulo{
    font-size: 40px;
    text-align: center;
    color: #7A0667; 
    font-style: italic;
    margin: 17px;

}
body {
    background-color: #F8B3E0;
}