header {
    background-image:linear-gradient(to top, #eb76f6, #f0aafd);
    margin: 50;
    padding: 50;
    display:block ;
    justify-content: space-around;
    padding: 34px;
    color: #eca6f7;
    
}
body{
    background-color: #ea97ee;
}


.titulo1{
    font-size: 50px;
    text-align: center;
    color: #3f0946;
    font-style: italic;
}

.titulo2{
    font-size: 80px;
    text-align: center;
    color: #860ba195;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-style: italic;
    font-family: sans-serif;
    
 }
   
.escola {
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 1600px;;
    background-color:#ce02f250;
    height: 300px;
    
}
.escola-imagem{
    margin-left: 450px ;
    margin-bottom: 1500px;
    margin-top: 1400px;
    
    
}

.estudante {
    padding: 24px;
}

.estudante-div{
    text-align: center;
    padding:26px 0;
    font-size: 40px;
;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
/*/ background-color:#46alcf;/*/
font-size: 60px;
text-align: center;
color: #860ba195;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000000;
font-style: italic;
font-family: sans-serif;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20%  20% 20% 20% 20%
    
}
.nossa-escola{
    font-size: 50px;
    text-align:center;
    margin-left: 900px;
    margin-bottom: 200px;
    
}