header {
    background-image:linear-gradient(to top, #c34bce, #f0aafd);
    margin: 80;
    padding: 80;
    display:block ;
    justify-content: space-around;
    padding: 44px;
    color: #eca6f7;
    
}
body{
    background-color: #f49bf9;
}


.titulo1{
    font-size: 70px;
    text-align: center;
    color: #70057e;
    font-size: italic;
}

.titulo2{
    font-size: 90px;
    text-align: center;
    color: #860ba195;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    font-style: italic;
    font-family: sans-serif;
    
 }
 
   
.escola {
    margin-left: 300px;
    margin-top: 300px;
    margin-right: 300px;;
    height: 550px;
    font-size: 70px;
   text-align: center;
   font-style: italic;
   background-image:linear-gradient(to top, #f0aafd, #c34bce);
}
.escola-imagem{
    margin-left: 450px ;
    margin-bottom: 1500px;
    margin-top: 1400px;
    background-color: #c34bce;
    
    
}

.estudante {
    padding: 24px;
}

.estudante-div{
    text-align: center;
    padding:30px 0;
    font-size: 40px;
;
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
/*/ background-color:#46alcf;/*/
font-size: 60px;
text-align: center;
color: #a408cff3;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000000;
font-style: italic;
font-family: sans-serif;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20%  20% 20% 20% 20%
    
}
.nossa-escola{
    font-size: 50px;
    text-align:center;
    margin-left: 970px;
    margin-left: 450px;
    margin-top: 300px;
    margin-right: 1500px;;
    background-color:#ce02f250;
    height: 550px;
 
}
.quadro-escola{
    margin-left: 450px;
    margin-top: 1500px;
    margin-right: 300px;
    margin-bottom: 1400;
    height: 550px;
    font-size: 70px;
   text-align: center;
   font-style: italic;
}