header {
    background-image: linear-gradient (to top, #F8B3E0, #DE61C3);
    margin: 0;
    padding: 0;
    display:block ;
    justify-content: space-around;
    padding: 24px;
    
}

.titulo1{
    font-size: 50px;
    text-align: center;
    color: #34092D;
    font-style: italic;
    }

.titulo2{
    font-size: 100px;
    text-align: center;
    color:#5C044E ;
     font-style: italic;
}

}
body {
    background-color: #F8B3E0;
}

.escola {
    margin-left: 100px;
    margin-top: 200px;
    margin-right: 1550px;;
    background-color:#F6D5EB;
padding: 30px;
    
}



