header {
    background-image:linear-gradient(to top, #F8B3E0, #DE61C3);
    margin: 0;
    padding: 0;
    display:block ;
    justify-content: space-around;
    padding: 24px;
    color: #F6D5EB;
    
}



.titulo1{
    font-size: 50px;
    text-align: center;
    color: #34092D;
    font-style: italic;
    }

.titulo2{
    font-size: 100px;
    text-align: center;
    color:#5C044E ;
     font-style: italic;
 }

    


.body {
    background-color:#ec6ac1;
   
}

.escola {
    margin-left: 100px;
    margin-top: 200px;
    margin-right: 1550px;;
    background-color:#ec6ac1;
padding: 30px;
height: 300px;
    
}
.escola-imagem{
    margin-left: 700px;
}

.estudante {
    padding: 24px;
}


.estudante-div{
    text-align: center;
    padding:26px 0;
    font-size: 20px;

}



.estudante-titulo{
 text-align: center;
 padding: 50px 0;
 font-size: 50px;
/*/ background-color:#46alcf;/*/
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20%  20% 20% 20% 20%
}

.rodape{
background-color: #34092D;
text-align: center;
border-radius: 10px;
}
 .texto1{
    font-size: 30px;
    text-align: center;
 }
 