header {
    background-color: #d338d3;
    color: rgb(255, 114, 248);
    margin: 0;
    padding: 0;
    display:block ;
    justify-content: space-around;
}

.titulo{
    font-size: 40px;
    text-align: center;
    color: #7A0667; 
    font-style: italic;
    margin: 17px;

}
body {
    background-color: #F8B3E0;
}

.escola {
    margin-left: 100px;
    margin-top: 200px;
}

